<div class="py-3 pl-5 pr-5">
    <h3>No animation</h3>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Endereço">Content 1</mat-tab>
      <mat-tab label="Contato">Content 2</mat-tab>
      <mat-tab label="Observações">Content 3</mat-tab>
    </mat-tab-group>

    <!--nav mat-tab-nav-bar>
        <a mat-tab-link active="false" class="mat-tab-link mat-focus-indicator docs-component-viewer-section-tab mat-tab-label-active"> Contato </a>
        <a mat-tab-link active="true"  class="mat-tab-link mat-focus-indicator docs-component-viewer-section-tab mat-tab-label-active" href="/contato"> Home </a>
    </nav-->

    
</div>
